#page {
    display: grid;
    width: 100%;
    height: 250px;
    grid-template-areas:
      "head head"
      "nav  main"
      "nav  foot";
    grid-template-rows: 50px 2fr 30px;
    grid-template-columns: 225px 1fr;
  }
  
  #page > header {
    grid-area: head;
    background-color: #6e6e35bb;
    text-align: center;
    font-family: system-ui;
    font-size: x-large;
  }
  
  #page > nav {
    grid-area: nav;
    background-color: grey;
    
  }
  li{
    list-style: none;
  }
  
  #page > main {
    grid-area: main;
    
    
  }
  
  #page > footer {
    grid-area: foot;
    background-color: #6e6e35bb;
  }
     .student-card{
    text-align: left;
    background-color: palegoldenrod;
    border: 5px solid black;
    


  }
  .student-img{
    width: 145px;
    border-radius: 8%;
  }
  section.student-card{
    grid-template-columns: 1fr 1fr;
    display: grid;
  }
  .navCohorts1,.navCohorts2,.navCohorts3,.navCohorts4,.navCohorts5,.navCohorts6,.navCohorts7,.navCohorts8,.navCohorts9{
    font-family: system-ui;
  }
  .navCohorts1,.navCohorts2,.navCohorts3,.navCohorts4,.navCohorts5,.navCohorts6,.navCohorts7,.navCohorts8,.navCohorts9{
    padding: 10px 16px;
    margin: 10px 0;
  }
  .navCohorts1,.navCohorts2,.navCohorts3,.navCohorts4,.navCohorts5,.navCohorts6,.navCohorts7,.navCohorts8,.navCohorts9,:hover{
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1)
  }
  .navCohorts1,.navCohorts2,.navCohorts3,.navCohorts4,.navCohorts5,.navCohorts6,.navCohorts7,.navCohorts8,.navCohorts9, h2{
    font-size: 20px;
    margin-bottom: 4px;
  }
  #student-table {
    font-family: system-ui;
    border-collapse: collapse;
    width: 100%;
  }
  
  #student-table td, #student-table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #student-table tr:nth-child(even){background-color: #f2f2f2;}
  
  #student-table tr:hover {background-color: #ddd;}
  
  #student-table th {
    
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: grey;
    color: white;
  }
  #card-font{
    font-family:system-ui ;
  }
  .navHeader{
    text-align: center;
    font-family: system-ui;
  }