#page {
    display: grid;
    width: 100%;
    height: 250px;
    grid-template-areas:
      "head head"
      "nav  main"
      "nav  foot";
    grid-template-rows: 50px 2fr 30px;
    grid-template-columns: 150px 1fr;
  }
  
  #page > header {
    grid-area: head;
    background-color: #8ca0ff;
    text-align: center;
    font-family: system-ui;
    font-size: x-large;
  }
  
  #page > nav {
    grid-area: nav;
    background-color: #ffa08c;
  }
  
  #page > main {
    grid-area: main;
    background-color: #ffff64;
  }
  
  #page > footer {
    grid-area: foot;
    background-color: #8cffa0;
  }
     .student-card{
    text-align: left;
    background-color: turquoise;
    border: 5px solid black;

  }
  .student-img{
    width: 145px;
    border-radius: 8%;
  }
  section.student-card{
    grid-template-columns: 1fr 1fr;
    display: grid;
  }